// primary
$brightBlue:hsl(220, 98%, 61%);
$checkBackground:-webkit-linear-gradient(-45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
// light theme
$l-veryLightGrey:hsl(0, 0%, 98%);
$l-veryLightGrayishBlue:hsl(236, 33%, 92%);
$l-lightGrayishBlue:hsl(233, 11%, 84%);
$l-darkGrayishBlue:hsl(236, 9%, 61%);
$l-veryDarkGrayishBlue:hsl(235, 19%, 35%);
// dark theme
$d-veryDarkBlue:hsl(235, 21%, 11%);
$d-veryDarkDesaturatedBlue:hsl(235, 24%, 19%);
$d-lightGrayishBlue:hsl(234, 39%, 85%);
$d-lightGrayishBlueHover:hsl(236, 33%, 92%);
$d-darkGraishBlue:hsl(234, 11%, 52%);
$d-veryDarkGrayishBlue: hsl(233, 14%, 35%);
$d-veryDarkGraishBlueSecond:hsl(237, 14%, 26%);
// font
$f-fam:'Josefin Sans';
$f-size:1.125rem;
$f-w-reg:400;
$f-w-bold:700;